<div class="card-header">
        <span class="cat__core__title">
            <strong>Create Site for <span class="text-primary"><b>{{AccountName}}</b></span></strong>
        </span>
    </div>

    <div class="card-block">

      <div class="row">
        <div class="col-lg-6">
          <div [hidden]="submitted">
            <form #adminSiteForm="ngForm"  id="adminSiteFor" *ngIf="active"  (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-6 col-xs-6 col-sm-6">
                  <div class="form-group">
                    <label class="form-label">Site Name <span style="color: red">*</span></label>
                    <input [(ngModel)]="sitename" id="sName" name="site_name"
                           type="text" placeholder="Enter Site Name"
                           class="form-control" #site_name="ngModel" required minlength="2" maxlength="50" autofocus>
                    <div *ngIf="site_name.errors && (site_name.dirty || site_name.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_name.errors.required">
                        Site Name is required
                      </div>
                      <div [hidden]="!site_name.errors.minlength">
                        Site Name must be at least 2 characters long.
                      </div>
                      <div [hidden]="!site_name.errors.maxlength">
                        Site Name cannot be more than 50 characters long.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Account No.</label>
                    <input [(ngModel)]="SiteAccountNumber" name="account Number"
                           type="text"
                           class="form-control" #site_Acc_no="ngModel"
                           data-validation="[NOTEMPTY]" placeholder="Enter Account Number">
                  </div>
                 <div class="form-group">
                    <label class="form-label">Place</label>
                    <input placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Address</label>
                    <input [(ngModel)]="address" name="address"
                           type="text" placeholder="Enter Address"
                           class="form-control"   >
                  </div>

                  <div class="form-group">
                    <label class="form-label">City <span style="color: red">*</span></label>
                    <input [(ngModel)]="city" name="site_city"
                           type="text"
                           class="form-control" #site_city="ngModel" placeholder="Enter City Name" minlength="2" maxlength="50" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$" required  (change)="GoogleAddress(site_city.value,'')">
                    <div *ngIf="site_city.errors && (site_city.dirty || site_city.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_city.errors.required">
                        City is required
                      </div>
                      <div [hidden]="!site_city.errors.minlength">
                        City must be at least 2 characters long.
                      </div>
                      <div [hidden]="!site_city.errors.maxlength">
                        City Name cannot be more than 50 characters long.
                      </div>
                      <div [hidden]="!site_city.errors.pattern">
                        City Name cannot be numerical value.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">State</label>
                    <input [(ngModel)]="state" name="validation-simple[state]"
                           type="text" #site_state="ngModel" placeholder="Enter State Name"
                           class="form-control" (change)="GoogleAddress(site_city.value,site_state)"
                           data-validation="[NOTEMPTY]" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$">
                    <div *ngIf="site_state.errors && (site_state.dirty || site_state.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_state.errors.pattern">
                        State Name cannot be numerical value.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Country</label>
                    <input [(ngModel)]="country" name="validation-simple[country]"
                           type="text" #site_country="ngModel"
                           class="form-control" placeholder="Enter Country Name"
                           data-validation="[NOTEMPTY]" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$">
                    <div *ngIf="site_country.errors && (site_country.dirty || site_country.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_country.errors.pattern">
                        Country Name cannot be numerical value.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Zip <span style="color: red">*</span></label>
                    <input [(ngModel)]="zip" name="site_zip"
                           type="text"
                           class="form-control" placeholder="Enter Zip Code"
                           #site_zip="ngModel" required  pattern="^[a-z A-Z 0-9][a-z A-Z 0-9\- ]{0,10}[a-z A-Z 0-9]$">
                    <div *ngIf="site_zip.errors && (site_zip.dirty || site_zip.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_zip.errors.required">
                        ZIP code is required
                      </div>

                      <div [hidden]="!site_zip.errors.pattern">
                        ZIP code is not valid.
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-xs-6 col-sm-6">
                  <div class="form-group">
                    <label class="form-label">Phone <span style="color: red">*</span></label>
                    <input [(ngModel)]="phone" name="site_phone"
                           type="text" pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$"
                           class="form-control"
                           #site_phone="ngModel" required id="us-phone-mask-input"minlength="14" placeholder="Enter the phone number" placeholder="Enter Phone Number">
                    <div *ngIf="site_phone.errors && (site_phone.dirty || site_phone.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_phone.errors.required">
                        Phone Number is required
                      </div>
                      <div [hidden]="!site_phone.errors.minlength">
                        Phone Number must be 10 digits long.
                      </div>
                      <div [hidden]="!site_phone.errors.pattern">
                        Phone number not valid.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Mobile</label>
                    <input [(ngModel)]="mobile" name="site_mobile"
                           type="text" id="us-mobile-mask-input" class="form-control" #site_mobile="ngModel"  minlength="14" pattern="^([(][0-9]{3}[)][ ][0-9]{3}[-][0-9]{4})$" placeholder="Enter Mobile Number">
                    <div *ngIf="site_mobile.errors && (site_mobile.dirty || site_mobile.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_mobile.errors.minlength">
                        Mobile Number must be 10 digits long.
                      </div>
                      <div [hidden]="!site_mobile.errors.pattern">
                        Mobile Number not valid.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Home</label>
                    <input [(ngModel)]="home" name="site_home"
                           type="text" id="us-home-mask-input" class="form-control" #site_home="ngModel"  minlength="14" pattern="^([(][0-9]{3}[)][ ][0-9]{3}[-][0-9]{4})$" placeholder="Enter Home Phone Number">
                    <div *ngIf="site_home.errors && (site_home.dirty || site_home.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_home.errors.minlength">
                        Phone Number must be 10 digits long.
                      </div>
                      <div [hidden]="!site_home.errors.pattern">
                        Phone Number not valid.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Fax</label>
                    <input [(ngModel)]="fax" name="validation-simple[fax]"
                           type="text"
                           class="form-control"
                           data-validation="[NOTEMPTY]" #site_fax="ngModel" id="us-fax-mask-input" pattern="^([(][0-9]{3}[)][ ][0-9]{3}[-][0-9]{4})$" placeholder="Enter Fax Number">
                    <div *ngIf="site_fax.errors && (site_fax.dirty || site_fax.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_fax.errors.pattern">
                        Fax Number must valid.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Contact Name </label>
                    <input [(ngModel)]="contactname"  name="contact_name"
                           type="text" placeholder="Enter the Contact Name"
                           class="form-control" #contact_name="ngModel"  minlength="2" maxlength="150" autofocus>
                    <div *ngIf="contact_name.errors && (contact_name.dirty || contact_name.touched)"
                         class="alert alert-danger">

                      <div [hidden]="!contact_name.errors.minlength">
                        Contact Name must be at least 2 characters long.
                      </div>
                      <div [hidden]="!contact_name.errors.maxlength">
                        Contact Name cannot be more than 150 characters long.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Is Confirmed</label>
                    <select [(ngModel)]="isconfirmed" name="isconfirmed"
                            class="form-control">
                      <option value="YES">YES</option>
                      <option value="NO">NO</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Latitude</label>
                    <input [(ngModel)]="latitude" #site_lat="ngModel"name="validation-simple[latitude]"
                           type="text"
                           class="form-control"
                           data-validation="[NOTEMPTY]" pattern="^[0-9.*#+-]+$">
                    <div *ngIf="site_lat.errors && (site_lat.dirty || site_lat.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_lat.errors.pattern">
                        Latitude cannot be alphabetic value.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Longitude</label>
                    <input [(ngModel)]="longitude" name="validation-simple[longitude]"
                           type="text" #site_lan="ngModel"
                           class="form-control"
                           data-validation="[NOTEMPTY]"pattern="^[0-9.*#+-]+$">
                    <div *ngIf="site_lan.errors && (site_lan.dirty || site_lan.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!site_lan.errors.pattern">
                        Longitude cannot be alphabetic value.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="l38">Description</label>
                    <textarea [(ngModel)]="description" name="desc" class="form-control" rows="3" id="l38" placeholder="Enter Description"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                    <div [hidden]="!showMap" id="hidemap">


                  <sebm-google-map [latitude]="latitude" [longitude]="longitude" #myMap  [scrollwheel]="false" [zoom]="zoom">
                    <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
                  </sebm-google-map> </div><br>
                  <div class="row" [hidden]="showMap">
                    <button (click)="showMap = true; myMap.triggerResize()" class="btn btn-primary" style="margin-right: 10px">Show Map</button></div>
</div></div>

              <br>
              <div class="row">
                <div class="col-lg-12">

                  <button type="submit" class="btn btn-primary" style="margin-right: 10px"
                          [disabled]="!adminSiteForm.form.valid" (click)="CreateSite()">Create</button>

                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 align="center">Unassigned Site List</h3>
          <div class="row">
            <div class="col-lg-12">
              <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icmn-search"></i>
                  </span>
                <input [(ngModel)]="site_name" name="search" class="input-error form-control" value="" id="search" type="text">
              </div>
            </div>
          </div>
          <div class="scroll">
          <table class="table table-hover nowrap">
            <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>City</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let site of SitesArray | site: site_name" ng-if="site.SAD_AM_KeyID===1">
              <td (click)="SelectSite(site.SM_KeyID)">{{site.SM_SiteName}}</td>
              <td>{{site.SM_Address}}</td>
              <td>{{site.SM_City}}</td>
              <td><button type="button" class="btn btn-sm btn-success margin-inline" (click)="AssignSiteconfirmation(AccountID,site.SM_KeyID)">Assign</button></td>
            </tr>
            </tbody>
          </table></div>
        </div>
      </div>
    </div>




