
<div class="card-block">
    <form id="add" #addemailsettingsform="ngForm" name="form-validation-simple">
      <div class="row">
          <div class="col-lg-6">
              <label class="form-label">User Role<span style="color: red"> *</span></label>
              <select [(ngModel)]="userrole_model" #userrole  name="Userrole" class="form-control col-lg-12" (change)="viewusercategory(userrole.value)" required>
                  <option value="0" [selected]="true">----Select------</option>
                  <option *ngFor="let role of user_role" value="{{role.URM_KeyID}}" > {{ role.URM_Role_Name }} </option>
              </select>
          </div>
          <div class="col-lg-6">
              <label class="form-label">
                  {{Userrole}}User:<span style="color: red"> *</span></label>
              <select [(ngModel)]="acc_br_sit_model" name="acc_br_sit" #acc_br_sit class="form-control" (change)="viewusers(userrole.value,acc_br_sit.value)">
                  <option>----Select------</option>
                  <option  *ngFor="let uc of user_category" value="{{uc.userid}}" > {{ uc.username }} </option>

              </select> </div></div><br>

    <div class="row">

      <div class="col-sm-8 col-lg-12 pull-left">
        <div class="cus_main_menu2">

          <br>
          <table class="table table-hover nowrap">
            <thead class="th-color">
            <tr>
              <td>Email Content Title</td>
              <td><input id="chckboxall" type="checkbox" name="chckboxall" (click)="checkboxfun($event)"  /></td>
              <td>Username</td>
              <td>Category</td>
              <td>Email</td>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let all of userlist;let j=index">
                <input type="hidden" name="userid{{j}}" [(ngModel)]="all.userid">
                <input type="hidden" name="categoryid{{j}}" [(ngModel)]="all.categoryid">
              <td style="text-align: left" *ngIf="all.startid">{{all.title}}</td>
              <td style="text-align: left" *ngIf="!all.startid"></td>
              <td><input [ngModel]="all.esid== 'Y'" id="chckboxid" class="chkclass" type="checkbox" name="checkbox{{j}}" (change)="checkrdpartid(j,all.ECMID,userrole.value,all.categoryid,acc_br_sit.value,all.userid,this.sessid,$event)" /></td>
              <td>{{all.username}}</td>
              <td>{{all.category}}</td>
              <td>{{all.email}}</td>
            </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
        <div class="row">
            <div class="col-lg-12 pull-left">
                <button type="button" class="btn btn-primary" (click)="updateParts(addemailsettingsform.value)">Assign Email</button>
            </div>
        </div>
    </form>
</div>



