.sig-container {
    border-style: dashed;
    border-width: 1px;
}

.sig-container canvas {
    border-style: solid;
    border-width: 1px;
    height: 100px !important;
    width: 700px;
}

.sig-container canvas {
    background-image: url('/src/assets/images/sign-here.png');
    background-repeat: no-repeat;
    background-position-y: 95%;
}

.sig-container-image {
    height: 300px;
    width: 700px;
}

.table-fixed{
thead {
tr{
th{
    background-color: #005374;
    border-color:#005374;
    color: #FFF;
}
}
}
}

.dis_inblock{ display: inline-block;}
.dis_inblock i {color: #fff}