
<div class="cat__content">
  <section class="card">



    <div class="card-header">
        <span class="cat__core__title">
            <strong>Inventory</strong>
        </span>
    </div>
        <div class="card-block">
          <div class="margin-bottom-50">
            <div class="nav-tabs-horizontal">
             <!-- <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#parts" role="tab" (click)="real();">
                    <i class="icmn-newspaper"></i>
                    <span class="hide">Parts</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#suppliers" role="tab" (click)="ref();">
                    <i class="icmn-hammer"></i>
                    <span class="hide">Suppliers</span>
                  </a>
                </li>


              </ul>-->
                <ul class="nav nav-tabs" role="tablist" >
                    <li class="nav-item" *ngFor="let sub of Asssubmenu ">
                        <a  attr.data-target="{{sub.SUB_URL}}" class="nav-link  {{sub.SUB_Active}}" href="javascript: void(0);" data-toggle="tab"  role="tab" (click)="self[sub.SUB_Count]()">
                            <i class="{{sub.SUB_Icon}}"></i>
                            <span class="hide">{{sub.SUB_Name}}</span>
                        </a>
                    </li>


                </ul>

              <div class="tab-content padding-vertical-20">
                <div class="tab-pane active" id="parts" role="tabpanel">
                    <div class="nav-tabs-horizontal">
                        <!--<ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#partsoverview" role="tab">
                                    <i class="icmn-newspaper"></i>
                                    <span class="hide">Overview</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#Assignsupplier" role="tab">
                                    <i class="icmn-hammer"></i>
                                    <span class="hide">Assign Suppliers</span>
                                </a>
                            </li>


                        </ul>-->
                        <ul class="nav nav-tabs" role="tablist" >
                            <li class="nav-item" *ngFor="let child of Chilmenu ">
                                <a  attr.data-target="{{child.SUB_URL}}" class="nav-link  {{child.SUB_Active}}" href="javascript: void(0);" data-toggle="tab"  role="tab">
                                    <i class="{{child.SUB_Icon}}"></i>
                                    <span class="hide">{{child.SUB_Name}}</span>
                                </a>
                            </li>


                        </ul>
                        <div class="tab-content padding-vertical-20">
                            <div class="tab-pane active" id="partsoverview" role="tabpanel">
                  <div class="row">
            <div class="col-lg-4" style="padding-right: 10px;">
              <div class="row acc_header row_margin">
                <div class="col-lg-12"><h5 class="acc_heading">Parts<span><button (click)="Navication('part/create')" type="button"  [hidden]="add=='N'" class="btn btn-icon btn-warning pull-right btn-rounded margin-inline hvr-pulse"><i class="icmn-plus" aria-hidden="true"></i></button></span></h5></div>
              </div>
              <div class="row">
                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="icmn-search"></i>
                                        </span>
                  <input [(ngModel)]="partfil_name" type="text" class="form-control" name="Site_Search" placeholder="Search" id="">
                </div></div>



              <table class="table table-fixed" id="accounts" width="100%">
                <tbody>
                <tr *ngFor="let site of PartArray |partfilter:partfil_name;let i=index" (click)="Selectedpart(site.PM_KeyID);setClickedRow(i)" [class.active]="site.PM_KeyID==PartID">
                  <td  class="col-lg-12 col-sm-12 col-xs-12"  >
                    <b>{{site.PM_Part_Name}}</b>

                  </td>
                </tr>

                </tbody>
              </table>
            </div>
            <div class="col-lg-8">
              <div class="row acc_header row_margin">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                  <h2 class="acc_name">{{Partname}} <span class="pull-right"><button (click)="Navication('part/edit/'+PartID)"  [hidden]="edit=='N' || PartID==''"  type="button" style="padding: 7px" class="btn btn-icon btn-warning btn-rounded margin-inline"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
                              <button (click)="Delete(PartID)"  [hidden]="delete=='N' || PartID==''" type="button" style="padding: 7px" class="btn btn-icon btn-danger btn-rounded margin-inline"><i class="fa fa-trash" aria-hidden="true"></i></button></span></h2>
                </div>
                </div>



                  <div class="row">
                    <div class="col-lg-8">
                      <div class="table-responsive mb-5">
                        <table class="table table-hover">
                          <tbody>
                          <tr>
                            <td>ID:</td>
                            <td >{{PartID}}</td>
                            <td >Name:</td>
                            <td >{{Partname}}</td>
                          <tr>
                            <td >Model:</td>
                            <td >{{Partmodel}}</td>
                            <td >MFG Part.No:</td>
                            <td>{{Partmfg}}</td>
                          </tr>
                          <tr>
                            <td>Opening Balance:</td>
                            <td>{{Partopeningbal}}</td>
                            <td>Total Sold:</td>
                            <td>{{Parttotalsold}}</td>
                          </tr>
                          <tr>
                            <td>Part Price:</td>
                            <td>{{Partprice}}</td>
                            <td>Internal Cost:</td>
                            <td>{{Internalcost}}</td>
                          </tr>
                          <tr>
                            <td colspan="4">Description:<br>
                              {{Description}}
                            </td>

                          </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                        <div class="col-lg-4">
                          <img class="swal-btn-custom-img"style="height: 200px; width: 200px" src="{{showimg}}/assets/uploads/parts/{{PartID}}/image/{{Imgpath}}" alt="No Image" (click)="imgpopup(PM_KeyID)" onError="this.src='assets/modules/dummy-assets/common/img/noimagefound.jpg';" width="200" height="200">


                        </div>
                      </div>
            </div>

                </div></div>
                            <div class="tab-pane" id="Assignsupplier" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-4" style="padding-right: 10px;">
                                        <div class="row acc_header row_margin">
                                            <div class="col-lg-12"><h5 class="acc_heading">Parts<span><button (click)="Navication('part/create')" [hidden]="add=='N'" type="button" class="btn btn-icon btn-warning pull-right btn-rounded margin-inline"><i class="icmn-plus" aria-hidden="true"></i></button></span></h5></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="icmn-search"></i>
                                        </span>
                                                    <input [(ngModel)]="partfil_name" type="text" class="form-control" name="Site_Search" placeholder="Search" id=" ">
                                                </div></div></div>



                                        <table class="table table-fixed" id="accounts" width="100%">
                                            <tbody>
                                            <tr *ngFor="let site of PartArray |partfilter:partfil_name;let i=index" (click)="Selectedpart(site.PM_KeyID);setClickedRow(i)" [class.active]="site.PM_KeyID==PartID">
                                                <td  class="col-lg-12 col-sm-12 col-xs-12">
                                                    <b>{{site.PM_Part_Name}}</b>

                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div><div class="col-lg-8">
                                    <app-assignsupplier [partid]="PartID"></app-assignsupplier>
                                </div></div>

                            </div></div></div></div>
                  <div class="tab-pane " id="suppliers" role="tabpanel" >





                                      <app-orderedparts [dupid]="duplid"></app-orderedparts></div>


                  <div class="tab-pane" id="messages2" role="tabpanel">

                  </div>
                  <div class="tab-pane" id="settings2" role="tabpanel">

                  </div>
                  <div class="tab-pane" id="models" role="tabpanel">

                  </div>
                  <div class="tab-pane" id="InstructionList" role="tabpanel">

                  </div>
                  <div class="tab-pane" id="suplist" role="tabpanel">

                  </div>


              </div> </div></div></div></section>
    <app-footer></app-footer></div>