<div class="row">
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" value="" type="checkbox" checked (change)="changeAccount($event)">
      Account
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" value="" type="checkbox" checked (change)="changeSite($event)">
      Site
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" value="" type="checkbox" checked (change)="changeBranch($event)">
      Branch
    </label>
  </div>
</div>
<div class="row">
  <div id="googleMap">

  </div>
</div>