<div class="cat__content">
    <section class="card">
        <div class="card-header">
        <span class="cat__core__title">
            <strong>{{AccountName}}</strong>
            <span class="pull-right" *ngIf="logoPath">
                <button (click)="DeleteImage(AccountID)" type="button" style="padding: 15px" class="btn btn-icon btn-danger btn-rounded margin-inline"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </span>
            <span class="pull-right" *ngIf="!logoPath">
                <button disabled (click)="DeleteImage(AccountID)" type="button" style="padding: 15px" class="btn btn-icon btn-danger btn-rounded margin-inline"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </span>
        </span>
        </div>

        <div class="card-block">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Upload Logo</h4>
                    <input class="dropify" type="file" ngFileSelect
                           [options]="options"
                           (onUpload)="handleUpload($event)"
                           (beforeUpload)="beforeUpload($event)" id="File" data-allowed-file-extensions="jpg png bmp jpeg">
                </div>
                <div class="col-lg-6 media_margin">
                    <h4>Current Logo</h4>
                    <img class="messaging-img" src="{{LogoExt}}">
                </div>
            </div>
        </div>

    </section>
    <app-footer></app-footer>
</div>

