<div class="row">
  <div class="col-lg-4">
  <div class="cat__core__card-sidebar">
    <div class="row acc_header row_margin" style="margin-bottom: 10px">
      <div class="col-lg-12">
        <h5 class="acc_heading">Users{{branchid}}<span>
                <button type="button" [hidden]="add=='N'" (click)="checkunique('','','add')" class="btn btn-icon btn-warning pull-right btn-rounded margin-inline" style="padding: 7px; margin-bottom: 5px" (click)="ShowCreateUserModel()"><i class="icmn-plus" aria-hidden="true"></i></button></span></h5></div>
    </div>

    <!-- <div class="cat__apps__messaging__header">
       <input class="form-control cat__apps__messaging__header__input" placeholder="Search" [(ngModel)]="site_contact" >
       <i class="icmn-search"></i>
       <button></button>
     </div>-->
    <div _ngcontent-c1="" class="row" style="padding:7px;padding-top:0">
      <div _ngcontent-c1="" class="col-lg-12">
        <div _ngcontent-c1="" class="input-group">
                                        <span _ngcontent-c1="" class="input-group-addon">
                                            <i _ngcontent-c1="" class="icmn-search"></i>
                                        </span>
          <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-valid" id="site" name="Site_Search" placeholder="Search" type="text" value="" [(ngModel)]="site_contact">
        </div>
      </div>
    </div>
    <div class="cat__apps__messaging__list set_height_scroll">
      <div class="" *ngFor="let user of UsersArray|acccontact:acc_contact;let i=index">
        <!--<div class="cat__apps__messaging__tab__avatar">
          <a class="cat__core__avatar cat__core__avatar--50" href="javascript:void(0);">

            <img src="assets/modules/dummy-assets/common/img/avatars/1.jpg"/></a>
        </div>-->
        <div class="cat__apps__messaging__tab" [class.active]="user.UM_KeyID==scltaccUserID" (click)="LoadUserDetails(user.UM_KeyID);setClickedRow(i)">
          <div  style="cursor: pointer"><div class="cat__apps__messaging__tab__name"><span class="pull-left">{{user.UM_First_Name}}</span><br>
            <span  style="color: red" *ngIf="user.UM_Active=='N'">Deactivated</span>

            <small class="cat__apps__messaging__tab__time" style="margin-top: -20px"><button type="button" class="btn btn-sm btn-success margin-inline" (click)="AssignPrimary(user.AUD_KeyID,user.AUD_AM_KeyID)" [hidden]="unassignbtn=='N'" *ngIf="user.UM_Active=='Y'">Assign Primary</button></small>
            <small class="cat__apps__messaging__tab__time" style="margin-top: -20px"><button type="button" class="btn btn-sm btn-success margin-inline" [hidden]="unassignbtn=='N'"(click)="Deactivate(user.AUD_KeyID,user.UM_URM_KeyID,user.AUD_UM_KeyID,user.UM_Active)" *ngIf="user.UM_Active=='N' && urmkeyid==1 ">Activate</button></small>

          </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
  <div class="col-lg-8">

    <div class="row">
  <h3>Primary User</h3>
  <table class="table table-hover nowrap" id="zip" width="100%">
    <thead>
    <tr>
      <th>First Name</th>

      <th>Mobile</th>
      <th class="text-center">Email</th>
      <th>Account Name</th><th>Action</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let userpd of UserprimaryDetails">
      <td>{{userpd.UM_First_Name}} </td>

      <td>{{userpd.AUD_Cell}}</td>
      <td>{{userpd.UM_EmailID}}</td>
      <td>{{userpd.AM_Name}}</td>
      <td><span >
                      <button (click)="unassign(userpd.AM_KeyID)" id="delete_primary"type="button" style="padding: 10px;margin-left: 10px" class="btn btn-sm btn-warning">Unassign</button>
                              </span></td>





    </tr>
    </tbody></table></div>
      <div class="row">

        <div class="col-lg-12">
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes-->
            <div class="widget-user-header bg-black" style="background: url('assets/modules/pages/common/img/login/9.jpg')" >
              <span >
            <h3 class="widget-user-username">{{scltFirstName}}<span class="pull-right"><!--<button (click)="EditUserDetails(scltumkeyid,'')" type="button" style="padding: 10px"  [hidden]="edit=='N' || scltumkeyid==''"class="btn btn-icon btn-warning btn-rounded margin-inline hvr-pulse"><i class="fa fa-pencil-square" aria-hidden="true" ></i></button>-->
                              <button (click)="Deleteaccuser(Asskeyid,scltumkeyid,scltaudid)" [hidden]="delete=='N' || scltumkeyid==''" type="button" style="padding: 10px" class="btn btn-icon btn-danger btn-rounded margin-inline hvr-pulse"><i class="fa fa-trash" aria-hidden="true" ></i></button></span>
            </h3>
</span>
            </div>

            <div class="widget-user-image hvr-pulse-shrink">
              <!-- <img class="img-circle" src="assets/modules/dummy-assets/common/img/avatars/1.jpg" alt="User Avatar">-->
              <img class="img-circle" src="{{showimg}}/uploads/user_images/siteuser/{{scltAccountID}}/avatars/{{scltUserAvatar}}" alt="No Image" (click)="imgpopup(PM_KeyID)" onError="this.src='assets/modules/dummy-assets/common/img/noimagefound.jpg';" >
            </div>
            <div class="box-footer">
              <div class="row">
                <table class="table table-responsive" width="100%">
                  <tr>
                    <td width="25%">First Name:</td>
                    <td width="25%">{{scltFirstName}}</td>
                    <td width="25%">Last Name:</td>
                    <td width="25%">{{scltLastName}}</td>
                  </tr>
                  <tr>
                    <td>User Name:</td>
                    <td>{{scltUserName}}</td>
                    <td>Email:</td>
                    <td>{{scltEmail}}</td>
                  </tr>
                  <tr>
                    <td>Mobile:</td>
                    <td>{{scltMobile}}</td>
                    <td>Role:</td>
                    <td>Account</td>

                  </tr>
                  <tr>
                    <td>Category:</td>
                    <td>{{scltUserCategory}}</td>

                    <td>UserType:</td>
                    <td>{{userdistype}}</td>


                  </tr>
                  <tr>
                    <td>Addtional Email:</td>
                    <td>{{additionemail}}</td>

                    <td>Account</td>
                    <td>{{scltcomp}}</td>


                  </tr>

                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="modal fade modal-size-large" id="AccUserModel" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Create contact</h5>
        <button type="button" class="close" aria-label="Close"data-dismiss="modal" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <form #CreateUser="ngForm" (ngSubmit)="FormSubmit(CreateUser.value)" id="CreateUser" enctype="multipart/form-data" method="post">
              <div class="row">
                <div class="col-lg-6">

                  <div class="form-group">
                    <label>User Type <span style="color: red">*</span></label>
                    <div class="col-lg-12">
                      <table class="table"  width="100%">
                        <tr>
                          <td><input (click)="Hidediv('1')" class="form-check-input" id="exampleRadios1" [(ngModel)]="userType" name="userType" value="1" type="radio" checked> User</td>
                          <td><input (click)="Hidediv('2')" class="form-check-input" id="exampleRadios2" [(ngModel)]="userType" name="userType" value="2" type="radio"> Contact</td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Category <span style="color: red">*</span></label>
                    <select class="form-control" name="Category" #cat="ngModel" id="Category" ngModel>
                      <option value="">--Select--</option>

                      <option *ngFor="let category of CategoryArray" [value]="category.UCM_KeyID">{{category.UCM_Category_Name}}</option>
                    </select>
                    <div *ngIf="cat.errors && (cat.dirty || cat.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!cat.errors.required">
                        Category is required
                      </div>
                      <div [hidden]="!cat.errors.minlength">
                        Category must be at least 2 characters long.
                      </div>
                      <div [hidden]="!cat.errors.maxlength">
                        Category cannot be more than 50 characters long.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>First Name <span style="color: red">*</span></label>
                    <input class="form-control" ngModel placeholder="Enter the First Name" #first_name="ngModel" required type="text" name="FirstName" id="FirstName">
                    <div *ngIf="first_name.errors && (first_name.dirty || first_name.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!first_name.errors.required">
                        First Name is required
                      </div>
                      <div [hidden]="!first_name.errors.minlength">
                        First Name must be at least 2 characters long.
                      </div>
                      <div [hidden]="!first_name.errors.maxlength">
                        First Name cannot be more than 50 characters long.
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" ngModel placeholder="Enter the Last Name" #last_name="ngModel" type="text" name="LastName" >
                    <div *ngIf="last_name.errors && (last_name.dirty || last_name.touched)"
                         class="alert alert-danger">
                    </div>
                  </div>

                  <ng-template [ngIf]="isValid">
                    <div class="form-group">
                      <label>User Name <span style="color: red">*</span></label>
                      <input class="form-control" required ngModel #user_name="ngModel" placeholder="Enter the User Name" type="text" (input)="SearchUserName($event, SearchKey)" name="UserName" minlength="5" maxlength="50">
                      <div *ngIf="user_name.errors && (user_name.dirty || user_name.touched)"
                           class="alert alert-danger">
                        <div [hidden]="!user_name.errors.required">
                          User Name is required
                        </div>
                        <div [hidden]="!user_name.errors.minlength">
                          User Name must be at least 5 characters long.
                        </div>
                        <div [hidden]="!user_name.errors.maxlength">
                          User Name cannot be more than 50 characters long.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Password <span style="color: red">*</span></label>
                      <input class="form-control" required ngModel placeholder="Enter the Password" type="password" name="Password" #password="ngModel" pattern="^(?=.*\d)(?=.*[A-Za-z])(?=.*[!@#$%])[0-9A-Za-z!@#$%]{6,150}$" >
                      <div *ngIf="password.errors && (password.dirty || password.touched)"
                           class="alert alert-danger">
                        <div [hidden]="!password.errors.required">
                          Password is required
                        </div>
                        <div [hidden]="!password.errors.pattern">
                          Password must contain 6 characters of letters, numbers and at least one special character.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Confirm Password <span style="color: red">*</span></label>
                      <input class="form-control" required ngModel placeholder="Enter the Confirm password" type="password" name="CnfPassword" (ngModelChange)="passwordvalidation(password.value,$event)" #cnfpassword="ngModel" validateEqual="password" reverse="false">
                      <div id="existerror" style="display: none" class="alert alert-danger">Password mismatch.</div>

                    </div>
                  </ng-template>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Email <span style="color: red">*</span></label>
                    <input class="form-control" ngModel placeholder="Enter the Email" type="text" name="Email" #user_email="ngModel" pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" required (change)="checkunique(user_email.value,'')">
                    <div *ngIf="user_email.errors && (user_email.dirty || user_email.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!user_email.errors.required">
                        Email is required
                      </div>


                      <div [hidden]="!user_email.errors.pattern">
                        Please Enter Valid Email Address.
                      </div>
                    </div>
                    <div  class="alert alert-danger" id="existmail" style="display:none">Email already exists .</div>
                  </div>
                  <div class="form-group">
                    <label>Additional Email</label>
                    <input class="form-control" ngModel placeholder="additional email" type="text" name="AltEmail" #user_altemail="ngModel" pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*([,]\s*\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*" >
                    <div *ngIf="user_altemail.errors && (user_altemail.dirty || user_altemail.touched)"
                         class="alert alert-danger">

                      <div [hidden]="!user_altemail.errors.pattern">
                        Please Enter Valid Email Address.
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Mobile <span style="color: red">*</span></label>
                    <input class="form-control" ngModel placeholder="Enter the mobile number" type="text" name="Mobile"  #bnc_phone="ngModel" required  id="us-phone-mask-input" minlength="14"   pattern="\(\d{3}\) \d{3}-\d{4}" [textMask]="{mask: mask}">
                    <div *ngIf="bnc_phone.errors && (bnc_phone.dirty || bnc_phone.touched)" class="alert alert-danger">
                      <div [hidden]="!bnc_phone.errors.required">
                        Phone Number must required
                      </div>
                      <div [hidden]="!bnc_phone.errors.minlength">
                        Phone Number must be 10 digits long.
                      </div>
                      <div [hidden]="!bnc_phone.errors.pattern">
                        Phone Number not valid.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">User Image</label>
                    <input class="dropify form-control" type="file" ngModel #UserImage id="UserImage" name="UserImage" data-allowed-file-extensions="jpg jpeg png bmp" ><br> <span style="color: #7a7a7a;
    font-size: 12px;">Please upload user image less than 1.5 MB (.jpg,   .png, .jpeg, .bmp)</span>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <div class="form-group row">
                  <div class="col-md-9 offset-md-5">
                    <button class="btn btn-primary"  [disabled]="!CreateUser.form.valid "type="submit">Create</button>
                    <button class="btn btn-default" type="button" (click)="HideCreateUserModel()">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------Edit User---------------------------------------------------------------->
<div class="modal fade modal-size-large" id="EditUserModel" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Instruction">Update contact for <b>{{accname}}</b></h5>
        <button type="button" class="close" aria-label="Close" (click)="HideupdateUserModel()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <form #UpdateUser="ngForm"  id="UpdateUser">
              <div class="row">
                <div class="col-lg-6">

                  <div class="form-group">
                    <label>User Type<span style="color: red">*</span></label>
                    <div class="col-lg-12">
                      <table class="table" id="model_service" width="100%">
                        <tr>
                          <td><input (click)="Hidediv('1')" class="form-check-input" [(ngModel)]="userType" name="userType" value="1" type="radio" disabled="true"> User</td>
                          <td><input (click)="Hidediv('2')" class="form-check-input" [(ngModel)]="userType" name="userType" value="2" type="radio" disabled="true"> Contact</td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>First Name <span style="color: red">*</span></label>
                    <input class="form-control" ngModel placeholder="Enter the First Name" type="text" name="FirstName" id="FirstName" #efirst_name="ngModel" [(ngModel)]="escltFirstName" required minlength="2" maxlength="50" autofocus>
                    <div *ngIf="efirst_name.errors && (efirst_name.dirty || efirst_name.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!efirst_name.errors.required">
                        First Name is required
                      </div>
                      <div [hidden]="!efirst_name.errors.minlength">
                        First Name must be at least 2 characters long.
                      </div>
                      <div [hidden]="!efirst_name.errors.maxlength">
                        First Name cannot be more than 50 characters long.
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" ngModel placeholder="Enter the Last Name" #elast_name="ngModel" type="text" name="LastName"  [(ngModel)]="escltLastName"  autofocus>
                    <div *ngIf="elast_name.errors && (elast_name.dirty || elast_name.touched)"
                         class="alert alert-danger">

                    </div>
                  </div>

                  <template [ngIf]="isValidupdate">
                    <div class="form-group">
                      <label>Password</label><br>
                      <span style="color: #7a7a7a;
        font-size: 12px;"> If you want to change password, enter new password</span><br>
                      <input class="form-control" (ngModelChange)="accsetpassword(epassword.value,$event)" ngModel placeholder="Enter the Password" type="password" name="Password"  #epassword="ngModel" pattern="^(?=.*\d)(?=.*[A-Za-z])(?=.*[!@#$%])[0-9A-Za-z!@#$%]{6,15}$"  autofocus autocomplete="off" >
                      <div *ngIf="epassword.errors && (epassword.dirty || epassword.touched)"
                           class="alert alert-danger">

                        <div [hidden]="!epassword.errors.pattern">
                          Password must contain 6 characters of letters, numbers and at least one special character.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Confirm Password </label>
                      <input class="form-control" ngModel placeholder="Enter the Confirm password" type="password" name="CnfPassword" [(ngModel)]="escltPassword" (ngModelChange)="editpasswordvalidation(epassword.value,$event)"  #ecnfpassword="ngModel" reverse="false" (autocomplete)="off">

                      <div id="existerror1" style="display: none" class="alert alert-danger">Password mismatch.</div>
                    </div>
                  </template>

                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Email <span style="color: red">*</span></label>
                    <input class="form-control" required [(ngModel)]="escltEmail"ngModel placeholder="Enter the Email" type="text" name="Email" #euser_email="ngModel" pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" (change)="checkunique(euser_email.value,escltumkeyid)">
                    <div *ngIf="euser_email.errors && (euser_email.dirty || euser_email.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!euser_email.errors.required">
                        Email is required
                      </div>


                      <div [hidden]="!euser_email.errors.pattern">
                        Please Enter Valid Email Address.
                      </div>
                    </div>
                    <div  class="alert alert-danger" id="existmailedit" style="display:none">Email already exists .</div>

                  </div>
                  <div class="form-group">
                    <label>Additional Email</label>
                    <input class="form-control" [(ngModel)]="escltaltEmail" ngModel placeholder="Enter the additional email" type="text" name="EAltEmail" #euser_altemail="ngModel" pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*([,]\s*\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*" >
                    <div *ngIf="euser_altemail.errors && (euser_altemail.dirty || euser_altemail.touched)"
                         class="alert alert-danger">

                      <div [hidden]="!euser_altemail.errors.pattern">
                        Please Enter Valid Email Address.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Mobile <span style="color: red">*</span></label>
                    <input class="form-control" ngModel placeholder="Enter the mobile number" type="text" name="Mobile" [(ngModel)]="escltMobile" #bnc_ephone="ngModel" required  id="e-us-phone-mask-input" minlength="14"  pattern="\(\d{3}\) \d{3}-\d{4}" [textMask]="{mask: mask}">
                    <div *ngIf="bnc_ephone.errors && (bnc_ephone.dirty || bnc_ephone.touched)" class="alert alert-danger">
                      <div [hidden]="!bnc_ephone.errors.required">
                        Phone Number must required
                      </div>
                      <div [hidden]="!bnc_ephone.errors.minlength">
                        Phone Number must be 10 digits long.
                      </div>
                      <div [hidden]="!bnc_ephone.errors.pattern">
                        Phone Number not valid.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label">User Image</label>
                    <template [ngIf]="scltUserAvatar">
                      <img src="{{showimg}}/uploads/user_images/{{AccountID}}/avatars/{{escltUserAvatar}}" class="drp-cls" >
                    </template>
                    <input class="dropify form-control" type="file" ngModel #editfileInput id="editfileInput" name="UserImage" data-allowed-file-extensions="jpg jpeg png bmp" >
                    <br> <span style="color: #7a7a7a;
    font-size: 12px;">Please upload user image less than 1.5 MB (.jpg, .jpeg, .bmp, .png)</span>
                  </div>

                </div>
              </div>
              <div class="form-actions">
                <div class="form-group row">
                  <div class="col-md-9 offset-md-5">
                    <button class="btn btn-primary" type="submit"  [disabled]="!UpdateUser.form.valid " (click)="updateaccuser()|| enable() || this.loaduniqueemaillen!=0" >Update</button>
                    <button class="btn btn-default" type="button" (click)="HideupdateUserModel()">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--------Assign user------>
<div class="modal fade modal-size-large" id="AssignUserModel" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Assign Account Contact </h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button> </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="assingaccuser">
<form #accsiteusers="ngForm" id="herokitpartsform">

  <table class="table table-condensed table-hover" id="assaccuser" width="100%">
    <thead>
    <tr>
      <th style="text-align: center">Select</th>
      <th>Contact Name</th>
      <th>Account Name</th>
      <th>Email ID</th>
      <th>Phone No</th>
      <th>User Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let all of Userscontact;let i=index">


      <td  style="text-align: center">
        <input type="checkbox" name="checkbox{{i}}" [(ngModel)]="all.Checkbocval" (change)="updateCheckedOptions(all.PM_KeyID, $event,i)"/></td>
      <input type="hidden" name="id{{i}}"  [(ngModel)]="all.AUD_KeyID">
      <input type="hidden" name="smid"  [(ngModel)]="SiteID">
      <td [ngClass]="normal">{{all.UM_First_Name}}</td>
      <td [ngClass]="normal">{{all.AM_Name}}</td>
      <td>{{all.UM_EmailID}}</td>
      <td>{{all.AUD_Cell}}</td>
      <td *ngIf="all.UM_User_Type==1;else elseblock">User
        </td>
      <ng-template #elseblock>
        <td >Contact
        </td>  </ng-template>

    </tr>
    </tbody>
  </table>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="enable()" (click)="updateOptions(accsiteusers.value)"data-dismiss="modal">Assign</button>
  </div>
</form>
          </div><!----Accuser-->
            <div class="allacccontshow" style="display: none">
              <form #CreateUser="ngForm" (ngSubmit)="FormSubmit(CreateUser.value)" id="CreateUser" enctype="multipart/form-data" method="post">
                <div class="row">
                  <div class="col-lg-6">

                    <div class="form-group">
                      <label>User Type <span style="color: red">*</span></label>
                      <div class="col-lg-12">
                        <table class="table"  width="100%">
                          <tr>
                            <td><input (click)="Hidediv('1')" class="form-check-input" id="exampleRadios1" [(ngModel)]="userType" name="userType" value="1" type="radio" checked> User</td>
                            <td><input (click)="Hidediv('2')" class="form-check-input" id="exampleRadios2" [(ngModel)]="userType" name="userType" value="2" type="radio"> Contact</td>
                          </tr>
                        </table>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Category <span style="color: red">*</span></label>
                      <select class="form-control" name="Category" #cat="ngModel" id="Category" ngModel>
                        <option value="">--Select--</option>

                        <option *ngFor="let category of CategoryArray" [value]="category.UCM_KeyID">{{category.UCM_Category_Name}}</option>
                      </select>
                      <div *ngIf="cat.errors && (cat.dirty || cat.touched)"
                           class="alert alert-danger">
                        <div [hidden]="!cat.errors.required">
                          Category is required
                        </div>
                        <div [hidden]="!cat.errors.minlength">
                          Category must be at least 2 characters long.
                        </div>
                        <div [hidden]="!cat.errors.maxlength">
                          Category cannot be more than 50 characters long.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>First Name <span style="color: red">*</span></label>
                      <input class="form-control" ngModel placeholder="Enter the First Name" #first_name="ngModel" required type="text" name="FirstName" id="FirstName">
                      <div *ngIf="first_name.errors && (first_name.dirty || first_name.touched)"
                           class="alert alert-danger">
                        <div [hidden]="!first_name.errors.required">
                          First Name is required
                        </div>
                        <div [hidden]="!first_name.errors.minlength">
                          First Name must be at least 2 characters long.
                        </div>
                        <div [hidden]="!first_name.errors.maxlength">
                          First Name cannot be more than 50 characters long.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Last Name</label>
                      <input class="form-control" ngModel placeholder="Enter the Last Name" #last_name="ngModel" type="text" name="LastName" >
                      <div *ngIf="last_name.errors && (last_name.dirty || last_name.touched)"
                           class="alert alert-danger">
                      </div>
                    </div>

                    <ng-template [ngIf]="isValid">
                      <div class="form-group">
                        <label>User Name <span style="color: red">*</span></label>
                        <input class="form-control" required ngModel #user_name="ngModel" placeholder="Enter the User Name" type="text" (input)="SearchUserName($event, SearchKey)" name="UserName" minlength="5" maxlength="50">
                        <div *ngIf="user_name.errors && (user_name.dirty || user_name.touched)"
                             class="alert alert-danger">
                          <div [hidden]="!user_name.errors.required">
                            User Name is required
                          </div>
                          <div [hidden]="!user_name.errors.minlength">
                            User Name must be at least 5 characters long.
                          </div>
                          <div [hidden]="!user_name.errors.maxlength">
                            User Name cannot be more than 50 characters long.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Password <span style="color: red">*</span></label>
                        <input class="form-control" required ngModel placeholder="Enter the Password" type="password" name="Password" #password="ngModel" pattern="^(?=.*\d)(?=.*[A-Za-z])(?=.*[!@#$%])[0-9A-Za-z!@#$%]{6,150}$" >
                        <div *ngIf="password.errors && (password.dirty || password.touched)"
                             class="alert alert-danger">
                          <div [hidden]="!password.errors.required">
                            Password is required
                          </div>
                          <div [hidden]="!password.errors.pattern">
                            Password must contain 6 characters of letters, numbers and at least one special character.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Confirm Password <span style="color: red">*</span></label>
                        <input class="form-control" required ngModel placeholder="Enter the Confirm password" type="password" name="CnfPassword" (ngModelChange)="passwordvalidation(password.value,$event)" #cnfpassword="ngModel" validateEqual="password" reverse="false">
                        <div id="existerror" style="display: none" class="alert alert-danger">Password mismatch.</div>

                      </div>
                    </ng-template>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>Email <span style="color: red">*</span></label>
                      <input class="form-control" ngModel placeholder="Enter the Email" type="text" name="Email" #user_email="ngModel" pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" required (change)="checkunique(user_email.value,'')">
                      <div *ngIf="user_email.errors && (user_email.dirty || user_email.touched)"
                           class="alert alert-danger">
                        <div [hidden]="!user_email.errors.required">
                          Email is required
                        </div>


                        <div [hidden]="!user_email.errors.pattern">
                          Please Enter Valid Email Address.
                        </div>
                      </div>
                      <div  class="alert alert-danger" id="existmail" style="display:none">Email already exists .</div>
                    </div>
                    <div class="form-group">
                      <label>Additional Email</label>
                      <input class="form-control" ngModel placeholder="additional email" type="text" name="AltEmail" #user_altemail="ngModel" pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*([,]\s*\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)*" >
                      <div *ngIf="user_altemail.errors && (user_altemail.dirty || user_altemail.touched)"
                           class="alert alert-danger">

                        <div [hidden]="!user_altemail.errors.pattern">
                          Please Enter Valid Email Address.
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Mobile <span style="color: red">*</span></label>
                      <input class="form-control" ngModel placeholder="Enter the mobile number" type="text" name="Mobile"  #bnc_phone="ngModel" required  id="us-phone-mask-input" minlength="14"   pattern="\(\d{3}\) \d{3}-\d{4}" [textMask]="{mask: mask}">
                      <div *ngIf="bnc_phone.errors && (bnc_phone.dirty || bnc_phone.touched)" class="alert alert-danger">
                        <div [hidden]="!bnc_phone.errors.required">
                          Phone Number must required
                        </div>
                        <div [hidden]="!bnc_phone.errors.minlength">
                          Phone Number must be 10 digits long.
                        </div>
                        <div [hidden]="!bnc_phone.errors.pattern">
                          Phone Number not valid.
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label">User Image</label>
                      <input class="dropify form-control" type="file" ngModel #UserImage id="UserImage" name="UserImage" data-allowed-file-extensions="jpg jpeg png bmp" ><br> <span style="color: #7a7a7a;
    font-size: 12px;">Please upload user image less than 1.5 MB (.jpg,   .png, .jpeg, .bmp)</span>
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <div class="form-group row">
                    <div class="col-md-9 offset-md-5">
                      <button class="btn btn-primary"  [disabled]="!CreateUser.form.valid "type="submit">Create</button>
                      <button class="btn btn-default" type="button" (click)="Hidecreatform()">Cancel</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!---End--->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
