
<div class="row acc_header row_margin">
  <div class="col-lg-12 col-sm-2 col-xs-2">
    <h5 class="acc_heading">Assets Log</h5>
  </div>
</div>

  <div class="row">
    <div class="col-lg-12">

      <table class="table table-hover nowrap" id="branch" width="100%">

        <tbody>
        <tr>
          <td style="width: 80px;">Account:</td>
          <td>{{this.AM_Name}}</td>
        </tr>
        <tr>
          <td>From Site:</td>
          <td>{{this.SM_SiteName}}</td>
        </tr>
        <tr>
          <td>Asset</td>
          <td>{{this.ASM_Asset_Name}}</td>
        </tr>
        <tr>
          <td>To Site</td>
          <td *ngIf="assetsexist">
            <select [(ngModel)]="SM_KeyID"  name="ASM_KeyID" class="form-control col-lg-12"  (change)="enableid()" style="width: 400px !important;">
              <option *ngFor="let asset of assets" value="{{asset.SM_KeyID}}"> {{ asset.SM_SiteName| slice:0:60 }}</option>
            </select>
          </td>
          <td *ngIf="!assetsexist"> No Sites Found</td>
        </tr>
        <tr>
          <td></td>
          <td> <button [disabled]="enable()" type="submit" class="btn btn-primary" style="margin-right: 10px"  (click)="createLog(this.SM_KeyID,this.AM_KeyID,this.SAD_KeyID,this.ASM_KeyID,this.ASM_Agreement_Status)">Move</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12 scroll">
      <div class="cover1">
      <table class="cus_table_pad demo table-hover nowrap" id="branch" width="100%" [mfData]="logs" #loginfo="mfDataTable" [mfRowsOnPage]="10"
             [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead class="th-color">
        <tr>
          <th><mfDefaultSorter by="AML_TimeStamp"> Moved Date & Time<i class="fa fa-fw fa-sort"></i></mfDefaultSorter></th>
          <th>Moved By</th>
          <th><mfDefaultSorter by="Oldname"> From Site<i class="fa fa-fw fa-sort"></i></mfDefaultSorter></th>
          <th><mfDefaultSorter by="Newname"> To Site<i class="fa fa-fw fa-sort"></i></mfDefaultSorter></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let log of loginfo.data">
          <td>{{log.AML_TimeStamp|dateconvert | date:'M/d/y hh:mm a' }}</td>
          <td>{{log.Createdby}}</td>
          <td>{{log.Oldname}}</td>
          <td>{{log.Newname}}</td>
          <td></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
      </div>
    </div>
  </div>