<div class="cat__footer">
  <div class="cat__footer__bottom">
    <div class="row">
      <div class="col-md-12">
        <h5>{{Application_Name}}</h5>
        Email : {{Contact_Mail}}
        <br>
        Dispatch: {{Contact_Number_Dispatch}}
        <br>
        After Hours: {{Contact_Number_After_Hours}}
        <br>
        {{Copy_Right}}
      </div>
    </div>
  </div>
  <a href="javascript: void(0);" class="cat__core__scroll-top" onclick="$('body, html').animate({'scrollTop': 0}, 500);"><i class="icmn-arrow-up"></i></a>
</div>
