<div class="row">
  <div class="col-lg-12">
    <div class="row acc_header row_margin">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <h2 class="acc_name"> {{AssName}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive mb-5">
          <table class="table table-hover">
            <tbody>
            <tr>
              <td>ID:</td>
              <td >{{Asset_ID}}</td>
              <td >Name:</td>
              <td >{{AssName}}</td>
            <tr>
              <td >Model:</td>
              <td >{{ass_model}}</td>
              <td >Serial Number:</td>
              <td>{{ass_sno}}</td>
            </tr>
            <tr>
              <td>From Date:</td>
              <td>{{ass_from}}</td>
              <td>To Date:</td>
              <td>{{ass_to}}</td>
            </tr>
            <tr>
              <td>Site Name:</td>
              <td>{{siteov_name}}</td>
              <td>Identifier:</td>
              <td>{{ass_iden}}</td>
            </tr>
            <tr>
              <td>Agreement Name:</td>
              <td>{{AgreementName}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
